body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
}

.input-group {
    font-size: 14px !important;
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 30%;
}

.alert {
    text-align: center;
    display: inline-block;
    padding: 0px 15px;
    margin-bottom: 28px;
    font-size: 16px;
}

#incorrect-popup {
    background-color: white;
    text-align: center;
    position: relative;
    padding: 20px;
    margin: auto;
}

#incorrect-popup h2 {
    display: inline-block;
}

#incorrect-popup .input-group {
    margin: 0px;
    display: inline-flex;
    text-align: center;
}

#try-again-spanishTextBox {
    width: 200px;
}

.popup-alert {
    display: inline-block;
    margin-bottom: 5px;
}

.mfp-bg {
    opacity: 0.8;
}
